.transaction-filter-container{
    display:flex;
    justify-content: center;
    height: 70vh;
}

.transaction-container {
    min-width: 730px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #274049a3;
    overflow-y: auto;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    min-width: 310px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #274049a3;
    margin-right: 40px;
  }
  
  .transaction-heading {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .transaction-list {
    list-style: none;
    padding: 0;
    color: wheat;
  }
  
  .transaction-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  .transaction-item>div {
    width: calc(100% / 3);
  }
  
  .transaction-description {
    flex: 1;
  }
  
  .transaction-positive-amount {
    color: #38d738;
    text-align: right;
  }
  
  .transaction-negative-amount {
    color: red;
    text-align: right;
  }
  

  .filter-button{
    background: #c4bfbf2e;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    margin: 10px;
    padding: 5px 25px ;
  }

  .filter-buttons{
    display: flex;
    justify-content: space-between;
  }

  .date-filter{
    background: #c4bfbf2e;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px 10px ;
  }

  .date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .debit-active{
    background-color: #7a5a5a52;
    color: red;
  }

  .credit-active{
    background-color: #7a5a5a52;
    color: #38d738;
  }

  .chart-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  

  }

  
.custom-chart-style {
    width: 1080px; 
    margin: auto; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #274049a3;
    height: 50vh;
  }


  .transaction-container::-webkit-scrollbar {
    width: 9px; 
  }
  
  .transaction-container::-webkit-scrollbar-thumb {
    background-color: wheat; 
    border-radius: 6px; 
  }

  select {
    padding: 8px; 
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #274049a3;
    margin: 10px;
    color:white;
  }
  
  .toggle-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 20px; /* Set border radius for the container */
    overflow: hidden; /* Ensure children elements are clipped to match the border radius */
}

.toggle-btn {
    padding: 10px 20px;
    background-color: lightgray;
    cursor: pointer;
}

.toggle-btn.active {
    background-color: #73e6ad78;;
    color: white;
}

  
  
